@model ECommerce.DataModels.User
@{
    ViewData["Title"] = "Login";
}

<div class="login__container">
    <h2 class="login__title">Login</h2>
    @if (!String.IsNullOrEmpty(Model.AccountError))
    {
        <h3 class="login__error">@Model.AccountError</h3>
    }
    <form method="post" asp-controller="Account" asp-action="Login" class="login__form">
        <div>
            <p>Username: </p>
            <input asp-for="Username" />
        </div>
        <div>
            <p>Password: </p>
            <input asp-for="Password" />
        </div>

        <button type="submit">Login</button>
    </form>
</div>
