@model ECommerce.DataModels.User
@{
    ViewData["Title"] = "Create Category";
}

<div class="category__container">
    <h2 class="category__title">Create Category</h2>
    @if (!String.IsNullOrEmpty(Model.LoginError))
    {
        <h3 class="login__error">@Model.LoginError</h3>
    }
    <form method="post" asp-controller="Account" asp-action="CreateCategory" class="category__form">
        <div>
            <p>Category ID: </p>
            <input asp-for="CategoryID" />
        </div>
        <div>
            <p>Category Name: </p>
            <input asp-for="Name" />
        </div>
        <div>
            <p>Shop ID: </p>
            <input asp-for="ShopID"/>
        </div>

        <button type="submit">Create</button>
    </form>
</div>
