@model IEnumerable<ECommerce.DataModels.Department>
@{
    ViewData["Title"] = "Home Page";
}

<div class="departmentContainer">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Department", "Department", new { id = item.DepartmentID })">
            <div class="departmentContainer__department">
                <p class="departmentContainer__department__name">@item.Name</p>
            </div>
        </a>
    }
    <div style="clear:both">
</div>

