@model IEnumerable<ECommerce.DataModels.Department>
@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    @foreach (var item in Model)
    {
        <p>@item.DepartmentID</p>
        <p>@item.Name</p>
        <p>@item.DateCreated</p>
    }
</div>
