@model IEnumerable<ECommerce.DataModels.Department>
@{
    ViewData["Title"] = "Home Page";
}

<div class="departmentContainer">
    @foreach (var item in Model)
    {
        <div class="departmentContainer__department">
            <p class="departmentContainer__department__name">@item.Name</p>
        </div>

        <p>hi</p>
    }
    <div style="clear:both">
</div>

