.dashboard {
  width: 300px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: -4px 0px 14px 3px rgba(0, 0, 0, 0.82); }
  .dashboard__top__container {
    width: 100%;
    float: left;
    height: 30%;
    background-color: #1a1a1a; }
  .dashboard__bottom__container {
    width: 100%;
    float: left;
    height: 70%;
    background-color: #0d0d0d; }

.mainContainer {
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: scroll;
  float: right;
  background: linear-gradient(360deg, #0d0d0d 0%, #1a1a1a 5%); }
  .mainContainer__content {
    width: 100%; }

.main {
  padding-left: 20px;
  padding-right: 20px; }

body {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

/* width */
::-webkit-scrollbar {
  width: 15px; }

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d0d; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a1a1a; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
