body {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

p {
  margin: 0px 0px 0px 0px; }

.mainContainer {
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: scroll;
  float: right;
  background: linear-gradient(360deg, #0d0d0d 0%, #1a1a1a 5%); }
  .mainContainer__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

/* width */
::-webkit-scrollbar {
  width: 15px; }

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d0d; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a1a1a; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.departmentContainer {
  width: 100%; }
  .departmentContainer__department {
    display: block;
    width: 22.5%;
    min-width: 200px;
    float: left;
    margin-left: 2.5%;
    background-color: #0d0d0d;
    margin-top: 50px;
    height: 230px; }
    .departmentContainer__department:first-of-type {
      margin-left: 1.25%; }
    .departmentContainer__department:nth-child(5n) {
      margin-left: 1.25%; }
    .departmentContainer__department__name {
      font-size: 75px;
      text-align: center;
      color: white;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
